* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    /* background-image: url("/Source/LoginBG.jpg"); */
    background-size: cover;
}

/*-----------------------Header-------------------*/

.page-container {
    background-color: white;
    height: 1000px;
    padding: 20px 0px;
}

.header {
    height: 70px;
    background-color: rgb(57, 89, 143);
    display: flex;
    align-items: right;
    justify-content: space-evenly;
    padding: 10px 0px;

}



.header h2 {
    color: white;
}

.header .acc-container {
    /* background-color: rgb(57, 89, 143); */
    border-radius: 10px;
    width: 200px;
    padding: 5px 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header .acc-container b {
    text-transform: uppercase;
    color: white;
    padding-right: 5px;

}

.header .acc-container button {
    font-size: 10px;
    width: 40px;
    padding: 0px;
    background-color: antiquewhite;
    font-weight: bold;
}

.header button {
    border: none;
    border-radius: 5px;
    background-color: white;
    color: rgb(57, 89, 143);
    padding: 2px 7px;

}

.offcanvas-header {
    background-color: rgb(57, 89, 143);
}

#offcanvasExample {
    background-color: white;
    width: 200px;
}


/* ============================home=========================== */
.user-navbar li {
    list-style-type: none;
    padding: 20px 20px;
    font-size: 16px;
    border-bottom: 1px solid rgb(57, 89, 143);

}

.user-navbar li button:hover {
    color: rgb(57, 89, 143);
    font-weight: bold;
    font-size: 20px;

}


.user-navbar li button {
    border: none;
    background-color: white;
    width: auto;
}

.user-navbar ul {
    list-style-type: none;
    padding: 0px;
    font-size: 16px;

}

.offcanvas-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.offcanvas-body {
    padding: 0px;
}

.user-manage {
    margin: 30px 20px;
    padding: 10px;
    width: auto;
    height: 1000px;
    background-color: white;
}

.user-manage .user-manage-navbar {
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

.page-containerBox {
    display: flex;
    justify-content: center;
}

.contentBox {
    width: 1050px;
    height: 800px;
    margin: 0px 50px;
    border: none;
    border-radius: 10px;
    box-shadow: -2px 12px 19px -8px rgba(0, 0, 0, 0.55);
    -webkit-box-shadow: -2px 12px 19px -8px rgba(0, 0, 0, 0.55);
    -moz-box-shadow: -2px 12px 19px -8px rgba(0, 0, 0, 0.55);
}

.contentBoxHead {
    background-color: rgb(57, 89, 143);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    padding: 2px;
}

.contentBoxBody {
    position: relative;
    background-image: url(./source/BGhome.jpg);
    background-size: cover;
    background-position: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.contentBoxData {
    /* background-color: brown; */

    display: flex;
    width: auto;
    height: 769px;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 50px;
    color: white;


}

.contentBoxBody img {
    width: 120px;
    border-bottom-left-radius: 10px;
    position: absolute;
    top: 453px;

}

#menuBtn {
    width: 60px;
}

#menuBtn:hover {
    background-color: rgb(57, 89, 143);
    color: white;
    border: 1px solid white;

}