* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;

}

body {
    background-image: url("/Source/LoginBG.jpg");
    background-size: cover;
}

/*-----------------------Header-------------------*/

.page-container {
    background-color: white;
    height: 1000px;
    padding: 20px 0px;
}

.header {
    height: 70px;

    background-color: rgb(57, 89, 143);
    display: flex;
    align-items: right;
    justify-content: space-evenly;
    padding: 10px 0px;

}


.header .logo {
    padding: 5px;
    border-radius: 10px;
    color: white;
    background-color: bisque;
    font-weight: bold;
    width: 70px;
    text-align: center;
    border: 3px solid rgb(57, 89, 143);
    border-style: dashed;
}

.header .logo #duck {
    font-size: 18px;
}


.header h2 {
    color: white;
}

.header .acc-container {
    /* background-color: rgb(57, 89, 143); */
    border-radius: 10px;
    width: 200px;
    padding: 5px 20px;
    text-align: center;
}

.header .acc-container b {
    text-transform: uppercase;
    color: white;

}

.header button {
    border: none;
    border-radius: 5px;
    background-color: white;
    color: rgb(57, 89, 143);
    padding: 2px 7px;
}

.offcanvas-header {
    background-color: rgb(57, 89, 143);
}

#offcanvasExample {
    background-color: white;
    width: 200px;
}


/* ============================home=========================== */
.user-navbar li {
    list-style-type: none;
    padding: 20px 20px;
    font-size: 16px;
    border-bottom: 1px solid rgb(57, 89, 143);

}

.user-navbar li button:hover {
    color: rgb(57, 89, 143);
    font-weight: bold;
    font-size: 20px;

}


.user-navbar li button {
    border: none;
    background-color: white;
    width: auto;
}

.user-navbar ul {
    list-style-type: none;
    padding: 0px;
    font-size: 16px;

}

.offcanvas-title {
    color: white;
    font-size: 20px;
    font-weight: bold;
}

.offcanvas-body {
    padding: 0px;
}

.user-manage {
    margin: 30px 20px;
    padding: 10px;
    width: auto;
    height: 1000px;
    background-color: white;
}

.user-manage .user-manage-navbar {
    display: flex;
    justify-content: space-between;
    font-size: 20px;

}

.contentBox {
    padding: 20px;

}